$text-color-white: #ffffff;
$text-color-black: #0000;
$background-color: #252530;
$background-btn: #363643;
$max-width-wrap: 1230px;
$max-width-pinned: 1510px;
$border-radius: 16px;
$spacing-between: 18px;
$padding-horizontal: 55px;
$font-family-primary: 'Corben', serif;
$font-family-secondary: 'Mulish', serif;
$color-font-header: #cecece;
$color-font-text: #ebebeb;
$color-font-black: #333350;
$font-weight-generic: 700;