$text-color-white: #ffffff;
$text-color-black: #0000;
$background-color: #ffffff;
$spacing-between: 18px;
$padding-section: 17vh 16% 18vh 12%;
$font-family-primary: 'Corben', serif;
$font-family-secondary: 'Mulish', serif;