// Backgrounds
$background-color: #252530;
$background-btn: #363643;

// Widths
$max-width-wrap: 1230px;

// Fonts
$primary-font-family: 'Corben', serif;
$secondary-font-family: 'Mulish', serif;

// Text Color
$header-font-color: #cecece;
$light-font-color: #ebebeb;
$dark-font-color: #333350;


// Radius
$border-radius: 16px;


// Weight
$font-weight-generic: 700;