@use "../abstracts/mixins";
@import "../abstracts/variables";

.content-bottom {
  @extend .flex-column;
  align-items: center;
  margin-bottom: 30px;

  &-title {
    font-weight: 900;
    text-transform: uppercase;
    color: #ebebeb;
    font-size: 0.7rem;
    margin: 30px 0;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &-grid {
    display: grid;
    grid-template-areas:
        "box1 box1 box1 box2 box2 box2"
        "box3 box3 box4 box4 box5 box5";
    grid-template-rows: 489px 468px;
    gap: 25px;
    width: 100%;

    & .item-card {
      background-size: 100%;
    }

    & .item-card:nth-child(1) {
      @include mixins.item-card(70px, 80px, $color-font-black, 0px);
      h2 {
        @include mixins.h2-properties(3rem);
        margin: 40px 0;
      }
      grid-area: box1;
      background-color: rgb(116, 116, 116);
    }

    & .item-card:nth-child(2) {
      @include mixins.item-card(70px, 80px, $color-font-black, 0px);
      h2 {
        @include mixins.h2-properties(3rem);
        margin: 40px 0;
      }
      grid-area: box2;
      background-color: rgb(116, 116, 116);
    }

    & .item-card:nth-child(3) {
      grid-area: box3;
      background-color: rgb(116, 116, 116);
      @include mixins.item-card(70px, 50px, $color-font-text, 0px);
      h2 {
        @include mixins.h2-properties(2rem);
        margin: 40px 0;
      }
    }

    & .item-card:nth-child(4) {
      @include mixins.item-card(70px, 50px, $color-font-black, 0px);
      h2 {
        @include mixins.h2-properties(2rem);
        margin: 40px 0;
      }
      grid-area: box4;
      background-color: rgb(116, 116, 116);
    }

    & .item-card:nth-child(5) {
      @include mixins.item-card(70px, 50px, $color-font-text, 0px);
      h2 {
        @include mixins.h2-properties(2rem);
        margin: 40px 0;
      }
      grid-area: box5;
      background-color: rgb(116, 116, 116);
    }
  }
}