@use "../abstracts/mixins";
@import "../abstracts/variables";

.sections-wrap {
  margin: 0 auto;
  max-width: $max-width-wrap;
  width: 100%;
  margin-bottom: 8vh;

  .btn-load-more {
    cursor: pointer;
    margin: 0 auto;
    width: 80%;
    height: auto;
    text-align: center;
    background-color: #363643;
    padding: 32px 35px 31px;
    border-radius: 16px;
    color: $light-font-color;
    text-transform: uppercase;
    font-weight: 800;
    transition: 0.3s;
    letter-spacing: 3px;
    font-size: 12px;

    &:hover {
      background-color: #ffb469;
      color: $dark-font-color;
      width: 83%;
    }
  }
  
}

.section-main {

  &-content {
    height: 100%;
    @extend .flex-column;
  }

  & article {
    cursor: pointer;
    transition: background-size 0.2s ease-in;
    margin-bottom: 35px;
    @include mixins.item-card(140px, 135px, $light-font-color, 550px);

    h2 {
      font-weight: bold;
      font-family: "Corben", serif;
      margin: 40px 0;
      @include mixins.h2-properties(3rem)
    }

    &:nth-child(1) {
      @include mixins.background-image("../../assets/main/section-1.jpg", rgb(0 0 0 / 30%));
      background-size: 100%;

      & span {
        &:hover {
          background: $light-font-color;
          color: $dark-font-color;
          transition: all 0.2s linear;
        }
      }
    }
  
    &:nth-child(2) {
      @include mixins.background-image("../../assets/main/section-2.jpg", rgb(254 214 114 / 80%));
      @include mixins.item-card(140px, 135px, $dark-font-color, 550px);
      background-size: 100%;

      & span {
        &:hover {
          background: $dark-font-color;
          color: $light-font-color;
          transition: all 0.2s linear;
        }
      }

      & .description {
        font-size: 1.5rem;
        margin: 30px 0;
        padding: 12px 0;
        @include mixins.line-above($dark-font-color, 2px);
      }
    }
  
    &:nth-child(3) {
      @include mixins.background-image("../../assets/main/section-3.jpg", rgb(0 0 0 / 30%));
      background-size: 100%;

      & span {
        &:hover {
          background: $light-font-color;
          color: $dark-font-color;
          transition: all 0.2s linear;
        }
      }
    }

    &:hover {
      background-size: 102%; 
    }
  }
}