@use "../abstracts/mixins";
@import "../abstracts/variables";

.content-pinned {
  min-height: 457px;
  max-width: 1450px;
  width: 100%;
  height: 100%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-areas:
      "box1 box2 box3"
      "box1 box4 box5";
  grid-gap: 10px;

  & .item {
    padding: 25px 30px;
    border-radius: $border-radius; 
    width: 408px;

    h3 {
      font-size: 1.4rem;      
      font-family: $primary-font-family;
      line-height: 1.8;
    }

    &:hover {
      transform: translateY(-3px);
    }
  }

  & .item:nth-child(1) {
    grid-area: box1;
    width: 576px;
    @include mixins.background-image("../../assets/pinned/pinned-1.jpg", rgb(0 0 0 / 30%));
    
    span {
      background-color: $light-font-color;
    }

    h3 {
      font-size: 1.8rem;      
    }
  }

  & .item:nth-child(2) {
    grid-area: box2;
    @include mixins.background-image("../../assets/pinned/pinned-2.jpg", rgb(23 35 255 / 70%));
    height: 220px;

    span {
      color: rgb(20, 35, 255);
      background-color: $light-font-color;
    }
  }

  & .item:nth-child(3) {
    background-color: #ffb469;
    grid-area: box3;
    height: 220px;

    span {
      color: #ffb469;
      background-color: $dark-font-color;
    }

    h3, p {
      color: $dark-font-color;
    }
  }

  & .item:nth-child(4) {
    grid-area: box4;
    @include mixins.background-image("../../assets/pinned/pinned-3.jpg", rgb(102 7 124 / 70%));
    height: 220px;

    span {
      color: rgb(102, 7, 124);
      background-color: $light-font-color;
    }
    
  }

  & .item:nth-child(5) {
    grid-area: box5;
    @include mixins.background-image("../../assets/pinned/pinned-4.jpg", rgb(255 158 216 / 70%));
    height: 220px;

    span {
      color: rgb(255, 158, 216);
      background-color: $dark-font-color; 
    }
  }
}

.item-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3, p {
    color: #ebebeb;
    font-weight: 700;
  }

  p {
    font-size: 0.8rem;
  }

  span {     
    padding: 5px 10px;
    width: fit-content;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: $secondary-font-family;
  }

  div {
    margin-top: 20px;
  }
}

.item {
  padding: 25px 30px;
  border-radius: $border-radius; 
}