@use "../abstracts/mixins";
@import "../abstracts/variables";

.content-bottom {
  @extend .flex-column;
  align-items: center;
  margin-bottom: 30px;

  &-title {
    font-weight: 900;
    text-transform: uppercase;
    color: #ebebeb;
    font-size: 0.7rem;
    margin: 30px 0;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &-grid {
    display: grid;
    grid-template-areas:
        "box1 box1 box1 box2 box2 box2"
        "box3 box3 box4 box4 box5 box5";
    grid-template-rows: 489px 468px;
    gap: 25px;
    width: 100%;
    transition: background-size 3s ease-in;

    & .item-card {
      cursor: pointer;
      background-size: 100%;      

      h2 {
        font-family: "Corben", serif;
        margin: 30px 0;
        line-height: 1.4;      
      }

      &:nth-child(1) {
        grid-area: box1;
        @include mixins.item-card(70px, 80px, $dark-font-color, 0px);
        @include mixins.background-image("../../assets/bottom/bottom-1.jpg", rgb(238 190 255 / 88%));
        
        
        h2 {
          @include mixins.h2-properties(2rem);
        }
  
        & span {
          &:hover {
            background: $dark-font-color;
            color: $light-font-color;
            transition: all 0.2s linear;          
          }
        }
      }
  
      &:nth-child(2) {
        grid-area: box2;
        @include mixins.item-card(70px, 80px, $dark-font-color, 0px);
        @include mixins.background-image("../../assets/bottom/bottom-2.jpg", rgb(255 180 105 / 88%));
        
        h2 {
          @include mixins.h2-properties(2rem);
        }
  
        & span {
          &:hover {
            background: $dark-font-color;
            color: $light-font-color;
            transition: all 0.2s linear;          
          }
        }
      }
  
      &:nth-child(3) {
        grid-area: box3;
        @include mixins.item-card(70px, 50px, $light-font-color, 0px);
        @include mixins.background-image("../../assets/bottom/bottom-3.jpg", rgb(0 0 0 / 30%));
        
        h2 {
          @include mixins.h2-properties(1.5rem);
        }
  
        & span {
          &:hover {
            background: $light-font-color;
            color: $dark-font-color;
            transition: all 0.2s linear;          
          }
        }
      }
  
      &:nth-child(4) {
        grid-area: box4;
        @include mixins.item-card(70px, 50px, $dark-font-color, 0px);
        @include mixins.background-image("../../assets/bottom/bottom-4.jpg", rgb(255 158 216 / 88%));      
        @include mixins.h2-properties(1.5rem);
  
        h2 {
          @include mixins.h2-properties(1.5rem);
        }
  
        & span {
          &:hover {
            background: $dark-font-color;
            color: $light-font-color;  
            transition: all 0.2s linear;        
          }
        }
      }
  
      &:nth-child(5) {
        grid-area: box5;
        @include mixins.item-card(70px, 50px, $light-font-color, 0px);
        @include mixins.background-image("../../assets/bottom/bottom-5.jpg", rgb(0 0 0 / 30%));   
        @include mixins.h2-properties(1.5rem);
        transition: background-size 3s ease-in;     
  
        h2 {
          @include mixins.h2-properties(1.5rem);
        }
  
        & span {
          &:hover {
            background: $light-font-color;
            color: $dark-font-color;
            transition: all 0.2s linear;         
          }
        }
      }
  
      &:hover {           
        background-size: 104%; 
       }
    }
  }
}