@use "../abstracts/mixins";
@import "../abstracts/variables";

.content-form {
  @extend .flex-column;

  margin-top: 8vh;
  margin: 50px auto;
  max-width: 682px;
  text-align: center;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 8px;
    color: $color-font-text;
    @include mixins.h2-properties(3.8rem);
  }


  &-text {
    color: $color-font-text;
    font-size: 20px;
    margin-bottom: 40px;
  }

  &-input {
    font-size: 18px;
    width: 65%;
    height: 30px;
    margin: 20px auto 30px;
    padding: 6px 9px;
    text-align: center;
    word-break: normal;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    background-color: transparent;
  }

  ::placeholder {
    color: $color-font-text;
  }

  &-btn {
    background-color: #363643;
    padding: 32px 38px;
    border-radius: 16px;
    color: $color-font-text;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
  }
}