@use "../abstracts/mixins";
@import "../abstracts/variables";

.content-form {
  @extend .flex-column;
  font-family: $primary-font-family;

  margin-top: 8vh;
  margin: 50px auto;
  max-width: 682px;
  text-align: center;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 8px;
    color: $light-font-color;
    @include mixins.h2-properties(2.5rem);
  }

  h3 {
    font-family: $secondary-font-family;
    letter-spacing: 2px;
    font-size: 1rem;
    text-align: left;
  }

  &-text {
    color: $light-font-color;
    margin-bottom: 40px;
    animation: write 10s steps(20, end) infinite, blinking 7s step-end infinite;
    overflow: hidden;
    border-right: 0.15em solid #ffb469;
    white-space: nowrap;
  }

  &-input {
    font-size: 18px;
    width: 65%;
    height: 30px;
    margin: 20px auto 30px;
    padding: 6px 9px;
    text-align: center;
    word-break: normal;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    border-bottom: 2px solid $light-font-color;
    color: $light-font-color;
	  background-color: transparent;
    transition: width .5s ease .2s;
    font-family: $secondary-font-family;
    font-weight: 700;

	  &::placeholder {
			letter-spacing: 2px;
			color: rgb(101, 101, 101); 
    }

    &:focus {
      border-top: none;
      border-right: none;
      border-left: none;
      width: 80%;
    }

    &:focus-visible{
      outline: none;
    }
  }

  &-btn {
    cursor: pointer;
    background-color: #363643;
    padding: 32px 38px;
    border-radius: 16px;
    color: $light-font-color;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    transition: 0.3s;    
    font-size: 12px;
    font-family: $secondary-font-family;

    &:hover {
      background-color: #ffb469;
      color: $dark-font-color;
      width: 29%;
    }
  }
}

@keyframes write {
  0% {
    width: 0
  }
  20%, 50% {
    width: 20ch;
  }

  90%, 100% {
    width: 0;
  }

}

@keyframes blinking {
  from,
  to { 
    border-color: transparent 
  }
  50% { border-color: $light-font-color; }
}