@import "../abstracts/variables";

.header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 70px;

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: $max-width-wrap;
        margin: 0 auto;

        &-nav {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
    }
}

.header-wrap-logo img {
    max-height: 35px;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    color: $color-font-header;
    font-family: $font-family-secondary;
}

nav {
    min-width: 150px;
    font-size: 1rem;
    font-weight: bold;
}