@use "../abstracts/mixins";
@import "../abstracts/variables";

.sections-wrap {
  margin: 0 auto;
  max-width: $max-width-wrap;
  width: 100%;
  margin-bottom: 8vh;

  .btn-load-more {
    margin: 0 auto;
    width: 80%;
    height: auto;
    text-align: center;
    background-color: #363643;
    padding: 32px 35px 31px;
    border-radius: 16px;
    color: $color-font-text;
    text-transform: uppercase;
    font-weight: 800;
  }
  
}

.section-main {
  & article {
    background-color: red;
    margin-bottom: 35px;
    @include mixins.item-card(140px, 135px, $color-font-text, 550px);
    h2 {
      margin: 40px 0;
      @include mixins.h2-properties(4rem)
    }
  }

  & article:nth-child(2) {
    @include mixins.item-card(140px, 135px, $color-font-black, 550px);
  }

  &-content {
    height: 100%;
    @extend .flex-column;
  }
}

