@import "../abstracts/variables";

.footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 25px;

  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $max-width-wrap;
    margin: 0 auto;

    &-nav {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    div {
      display: flex;
    }

    p {
      color: #ebebeb;
      font-size: 10px;
      letter-spacing: .7px;
      text-transform: uppercase;
      opacity: .8;
    }
  }

  &-icons {
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }

  &-icons li:not(:last-child) {
    margin-right: 20px;
  }

  &-icons svg{
    cursor: pointer;
    fill: $light-font-color;
    width: 20px;
    height: 20px;

    &:hover {
      fill: #ffb469;
    }
  }
}

nav ul {
    text-align: center;
}

nav li {
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
}

nav {
    min-width: 150px;
}