@use "layouts/header";
@use "layouts/footer";
@use "components/content-bottom";
@use "components/content-pinned";
@use "components/content-form";
@use "components/content-sections";

@use "abstracts/variables";

@import "abstracts/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: $secondary-font-family;
    margin: 0;
    height: 100%;
    background-color: $background-color;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 55px;
    padding-right: 55px;
}

.fixed-text {
    position: fixed;
    left: 2rem;
    font-size: 0.9rem;
    top: 50%;
    line-height: 2;
    letter-spacing: 1.5px;
    color: #ebebeb;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-weight: 900;
}

