.flex-column, .section-main-content, .content-form, .content-bottom {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.content-bottom {
  align-items: center;
  margin-bottom: 30px;
}
.content-bottom-title {
  font-weight: 900;
  text-transform: uppercase;
  color: #ebebeb;
  font-size: 0.7rem;
  margin: 30px 0;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.content-bottom-grid {
  display: grid;
  grid-template-areas: "box1 box1 box1 box2 box2 box2" "box3 box3 box4 box4 box5 box5";
  grid-template-rows: 489px 468px;
  gap: 25px;
  width: 100%;
  transition: background-size 3s ease-in;
}
.content-bottom-grid .item-card {
  cursor: pointer;
  background-size: 100%;
}
.content-bottom-grid .item-card h2 {
  font-family: "Corben", serif;
  margin: 30px 0;
  line-height: 1.4;
}
.content-bottom-grid .item-card:nth-child(1) {
  grid-area: box1;
  padding: 70px 80px;
  min-height: 0px;
  border-radius: 16px;
  color: #333350;
  background: url("../../assets/bottom/bottom-1.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(238, 190, 255, 0.88);
}
.content-bottom-grid .item-card:nth-child(1) div :first-child {
  margin-right: 8px;
}
.content-bottom-grid .item-card:nth-child(1) div span {
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 0.4rem;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid #333350;
}
.content-bottom-grid .item-card:nth-child(1) p {
  font-size: 1rem;
}
.content-bottom-grid .item-card:nth-child(1) h2 {
  line-height: 1.4;
  font-size: 2rem;
  font-weight: 700;
}
.content-bottom-grid .item-card:nth-child(1) span:hover {
  background: #333350;
  color: #ebebeb;
  transition: all 0.2s linear;
}
.content-bottom-grid .item-card:nth-child(2) {
  grid-area: box2;
  padding: 70px 80px;
  min-height: 0px;
  border-radius: 16px;
  color: #333350;
  background: url("../../assets/bottom/bottom-2.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255, 180, 105, 0.88);
}
.content-bottom-grid .item-card:nth-child(2) div :first-child {
  margin-right: 8px;
}
.content-bottom-grid .item-card:nth-child(2) div span {
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 0.4rem;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid #333350;
}
.content-bottom-grid .item-card:nth-child(2) p {
  font-size: 1rem;
}
.content-bottom-grid .item-card:nth-child(2) h2 {
  line-height: 1.4;
  font-size: 2rem;
  font-weight: 700;
}
.content-bottom-grid .item-card:nth-child(2) span:hover {
  background: #333350;
  color: #ebebeb;
  transition: all 0.2s linear;
}
.content-bottom-grid .item-card:nth-child(3) {
  grid-area: box3;
  padding: 70px 50px;
  min-height: 0px;
  border-radius: 16px;
  color: #ebebeb;
  background: url("../../assets/bottom/bottom-3.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}
.content-bottom-grid .item-card:nth-child(3) div :first-child {
  margin-right: 8px;
}
.content-bottom-grid .item-card:nth-child(3) div span {
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 0.4rem;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid #ebebeb;
}
.content-bottom-grid .item-card:nth-child(3) p {
  font-size: 1rem;
}
.content-bottom-grid .item-card:nth-child(3) h2 {
  line-height: 1.4;
  font-size: 1.5rem;
  font-weight: 700;
}
.content-bottom-grid .item-card:nth-child(3) span:hover {
  background: #ebebeb;
  color: #333350;
  transition: all 0.2s linear;
}
.content-bottom-grid .item-card:nth-child(4) {
  grid-area: box4;
  padding: 70px 50px;
  min-height: 0px;
  border-radius: 16px;
  color: #333350;
  background: url("../../assets/bottom/bottom-4.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255, 158, 216, 0.88);
  line-height: 1.4;
  font-size: 1.5rem;
  font-weight: 700;
}
.content-bottom-grid .item-card:nth-child(4) div :first-child {
  margin-right: 8px;
}
.content-bottom-grid .item-card:nth-child(4) div span {
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 0.4rem;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid #333350;
}
.content-bottom-grid .item-card:nth-child(4) p {
  font-size: 1rem;
}
.content-bottom-grid .item-card:nth-child(4) h2 {
  line-height: 1.4;
  font-size: 1.5rem;
  font-weight: 700;
}
.content-bottom-grid .item-card:nth-child(4) span:hover {
  background: #333350;
  color: #ebebeb;
  transition: all 0.2s linear;
}
.content-bottom-grid .item-card:nth-child(5) {
  grid-area: box5;
  padding: 70px 50px;
  min-height: 0px;
  border-radius: 16px;
  color: #ebebeb;
  background: url("../../assets/bottom/bottom-5.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  line-height: 1.4;
  font-size: 1.5rem;
  font-weight: 700;
  transition: background-size 3s ease-in;
}
.content-bottom-grid .item-card:nth-child(5) div :first-child {
  margin-right: 8px;
}
.content-bottom-grid .item-card:nth-child(5) div span {
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 0.4rem;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid #ebebeb;
}
.content-bottom-grid .item-card:nth-child(5) p {
  font-size: 1rem;
}
.content-bottom-grid .item-card:nth-child(5) h2 {
  line-height: 1.4;
  font-size: 1.5rem;
  font-weight: 700;
}
.content-bottom-grid .item-card:nth-child(5) span:hover {
  background: #ebebeb;
  color: #333350;
  transition: all 0.2s linear;
}
.content-bottom-grid .item-card:hover {
  background-size: 104%;
}

.content-pinned {
  min-height: 457px;
  max-width: 1450px;
  width: 100%;
  height: 100%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-areas: "box1 box2 box3" "box1 box4 box5";
  grid-gap: 10px;
}
.content-pinned .item {
  padding: 25px 30px;
  border-radius: 16px;
  width: 408px;
}
.content-pinned .item h3 {
  font-size: 1.4rem;
  font-family: "Corben", serif;
  line-height: 1.8;
}
.content-pinned .item:hover {
  transform: translateY(-3px);
}
.content-pinned .item:nth-child(1) {
  grid-area: box1;
  width: 576px;
  background: url("../../assets/pinned/pinned-1.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}
.content-pinned .item:nth-child(1) span {
  background-color: #ebebeb;
}
.content-pinned .item:nth-child(1) h3 {
  font-size: 1.8rem;
}
.content-pinned .item:nth-child(2) {
  grid-area: box2;
  background: url("../../assets/pinned/pinned-2.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(23, 35, 255, 0.7);
  height: 220px;
}
.content-pinned .item:nth-child(2) span {
  color: rgb(20, 35, 255);
  background-color: #ebebeb;
}
.content-pinned .item:nth-child(3) {
  background-color: #ffb469;
  grid-area: box3;
  height: 220px;
}
.content-pinned .item:nth-child(3) span {
  color: #ffb469;
  background-color: #333350;
}
.content-pinned .item:nth-child(3) h3, .content-pinned .item:nth-child(3) p {
  color: #333350;
}
.content-pinned .item:nth-child(4) {
  grid-area: box4;
  background: url("../../assets/pinned/pinned-3.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(102, 7, 124, 0.7);
  height: 220px;
}
.content-pinned .item:nth-child(4) span {
  color: rgb(102, 7, 124);
  background-color: #ebebeb;
}
.content-pinned .item:nth-child(5) {
  grid-area: box5;
  background: url("../../assets/pinned/pinned-4.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(255, 158, 216, 0.7);
  height: 220px;
}
.content-pinned .item:nth-child(5) span {
  color: rgb(255, 158, 216);
  background-color: #333350;
}

.item-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-column h3, .item-column p {
  color: #ebebeb;
  font-weight: 700;
}
.item-column p {
  font-size: 0.8rem;
}
.item-column span {
  padding: 5px 10px;
  width: fit-content;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "Mulish", serif;
}
.item-column div {
  margin-top: 20px;
}

.item {
  padding: 25px 30px;
  border-radius: 16px;
}

.footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 25px;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1230px;
  margin: 0 auto;
}
.footer-wrap-nav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.footer-wrap div {
  display: flex;
}
.footer-wrap p {
  color: #ebebeb;
  font-size: 10px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  opacity: 0.8;
}
.footer-icons {
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
.footer-icons li:not(:last-child) {
  margin-right: 20px;
}
.footer-icons svg {
  cursor: pointer;
  fill: #ebebeb;
  width: 20px;
  height: 20px;
}
.footer-icons svg:hover {
  fill: #ffb469;
}

nav ul {
  text-align: center;
}

nav li {
  cursor: pointer;
  display: inline-block;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 8px;
}

nav {
  min-width: 150px;
}

.content-form {
  font-family: "Corben", serif;
  margin-top: 8vh;
  margin: 50px auto;
  max-width: 682px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.content-form h2 {
  margin-bottom: 8px;
  color: #ebebeb;
  line-height: 1.4;
  font-size: 2.5rem;
  font-weight: 700;
}
.content-form h3 {
  font-family: "Mulish", serif;
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: left;
}
.content-form-text {
  color: #ebebeb;
  margin-bottom: 40px;
  animation: write 10s steps(20, end) infinite, blinking 7s step-end infinite;
  overflow: hidden;
  border-right: 0.15em solid #ffb469;
  white-space: nowrap;
}
.content-form-input {
  font-size: 18px;
  width: 65%;
  height: 30px;
  margin: 20px auto 30px;
  padding: 6px 9px;
  text-align: center;
  word-break: normal;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-bottom: 1px solid #ebebeb;
  background-color: transparent;
}
.content-form ::placeholder {
  letter-spacing: 2px;
  color: rgb(101, 101, 101);
}
.content-form-btn {
  cursor: pointer;
  background-color: #363643;
  padding: 32px 38px;
  border-radius: 16px;
  color: #ebebeb;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Mulish", serif;
}
.content-form-btn:hover {
  background-color: #ffb469;
  color: #333350;
  width: 29%;
}

@keyframes write {
  0% {
    width: 0;
  }
  20%, 50% {
    width: 20ch;
  }
  90%, 100% {
    width: 0;
  }
}
@keyframes blinking {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ebebeb;
  }
}
.header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 70px;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1230px;
  margin: 0 auto;
}
.header-wrap-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.header-wrap-logo img {
  max-height: 35px;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  color: #cecece;
  font-family: "Mulish", serif;
}

nav {
  min-width: 150px;
  font-size: 1rem;
  font-weight: bold;
}

.sections-wrap {
  margin: 0 auto;
  max-width: 1230px;
  width: 100%;
  margin-bottom: 8vh;
}
.sections-wrap .btn-load-more {
  cursor: pointer;
  margin: 0 auto;
  width: 80%;
  height: auto;
  text-align: center;
  background-color: #363643;
  padding: 32px 35px 31px;
  border-radius: 16px;
  color: #ebebeb;
  text-transform: uppercase;
  font-weight: 800;
  transition: 0.3s;
  letter-spacing: 3px;
  font-size: 12px;
}
.sections-wrap .btn-load-more:hover {
  background-color: #ffb469;
  color: #333350;
  width: 83%;
}

.section-main-content {
  height: 100%;
}
.section-main article {
  cursor: pointer;
  transition: background-size 0.2s ease-in;
  margin-bottom: 35px;
  padding: 140px 135px;
  min-height: 550px;
  border-radius: 16px;
  color: #ebebeb;
}
.section-main article div :first-child {
  margin-right: 8px;
}
.section-main article div span {
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 0.4rem;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid #ebebeb;
}
.section-main article p {
  font-size: 1rem;
}
.section-main article h2 {
  font-weight: bold;
  font-family: "Corben", serif;
  margin: 40px 0;
  line-height: 1.4;
  font-size: 3rem;
  font-weight: 700;
}
.section-main article:nth-child(1) {
  background: url("../../assets/main/section-1.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  background-size: 100%;
}
.section-main article:nth-child(1) span:hover {
  background: #ebebeb;
  color: #333350;
  transition: all 0.2s linear;
}
.section-main article:nth-child(2) {
  background: url("../../assets/main/section-2.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(254, 214, 114, 0.8);
  padding: 140px 135px;
  min-height: 550px;
  border-radius: 16px;
  color: #333350;
  background-size: 100%;
}
.section-main article:nth-child(2) div :first-child {
  margin-right: 8px;
}
.section-main article:nth-child(2) div span {
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 0.4rem;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid #333350;
}
.section-main article:nth-child(2) p {
  font-size: 1rem;
}
.section-main article:nth-child(2) span:hover {
  background: #333350;
  color: #ebebeb;
  transition: all 0.2s linear;
}
.section-main article:nth-child(3) {
  background: url("../../assets/main/section-3.jpg") center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  background-size: 100%;
}
.section-main article:nth-child(3) span:hover {
  background: #ebebeb;
  color: #333350;
  transition: all 0.2s linear;
}
.section-main article:hover {
  background-size: 102%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Mulish", serif;
  margin: 0;
  height: 100%;
  max-height: 100%;
  background-color: #252530;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 55px;
  padding-right: 55px;
}

/*# sourceMappingURL=index.css.map */
